<h3><i class="fa fa-angle-right"></i> Product Subcategory</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <section id="unseen">
        <div class="unseen-margin">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @subcategories.each_with_index do |subcategory| %>
                <tr>
                  <td><%= subcategory.name %></td>
                  <td>
                    <%= link_to 'Edit', edit_backend_category_subcategory_path(category_id: subcategory.category_id, id: subcategory) %>
                    <%= link_to 'Delete', backend_category_subcategory_path(subcategory.category_id, subcategory), method: :delete, data: { confirm: 'Are you sure to delete?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
